COMPOSE_PROJECT_NAME=job_listener
AIRFLOW_UID=50000
AIRFLOW_IMAGE_NAME=job_listener_worker
SQS_JOBS_QUEUE_URL=${SQS_JOBS_QUEUE_URL}
SQS_JOBS_QUEUE_REGION=${SQS_JOBS_QUEUE_REGION}
AIRFLOW_PROJ_DIR="${AIRFLOW_PROJ_DIR}"
GIT_USERNAME=<YOUR USERNAME HERE>
GIT_PASSWORD=<YOUR PASSWORD/PERSONAL ACCESS TOKEN HERE>
AWS_ACCESS_KEY_ID=<YOUR_AWS_KEY_ID>
AWS_SECRET_ACCESS_KEY=<YOUR_AWS_SECRET>
